<!-- begin: Current Location Breadcrumb -->
<div class="container-fluid breadcrumb-section">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <span class="current-location-main-txt">Current location: </span>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Sri Lanka</a>
            </li>
            <li class="breadcrumb-item">
                <a href=""> Badulla</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="">Nes Perce</a>
            </li>
        </ol>
    </nav>
</div>
<!-- end: Current Location Breadcrumb -->