<div class="ol-zoom ol-unselectable ol-control">
    <button id="button_point" class="btn" type="button" data-toggle="tooltip" data-placement="right" title="Draw Tool"
        (click)="pointToolEnabled()" [innerHTML]="point_tool_icon">        
    </button>
    <button id="button_line" class="btn" type="button" data-toggle="tooltip" data-placement="right" title="Line Tool"
        (click)="lineToolEnabled()" [innerHTML]="line_tool_icon"></button>
    <button id="button_polygon" class="btn" type="button" data-toggle="tooltip" data-placement="right"
        title="Polygon Tool" (click)="polygonToolEnabled()" [innerHTML]="polygon_tool_icon"></button>
</div>

